@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.container,
.image-section,
img {
  height: 630px;
  width: 530px;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  display: grid;
  grid-template-columns: repeat(5, 0.4fr);
  align-items: center;
  column-gap: 13px;
}

.title::before,
.title::after {
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.btn {
  color: #ff4e00;
}

/* Footer Section */
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li {
  margin: 6px;
}

li:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  transform: translateY(-3px);
}

/* For Tab Devices */

@media (max-width: 991px) {
  .container,
  .image-section,
  img {
    height: auto;
    width: 100%;
  }

  .container,
  .text-section {
    display: grid;
    place-items: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

/* For Mobile Devices */

@media (max-width: 768px) {
  .container,
  .image-section,
  img {
    height: auto;
    width: 100%;
  }

  .text-section {
    display: grid;
    place-items: center;
  }
  ul li i {
    margin-right: 20px;
    gap: 30px;
  }
}
